* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero_b1 {
  width: 100%;
  max-height: 772px;
  max-width: 1290px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0 100px 30px;
}
.part1_b1 {
  margin-right: 120px;
}
.part2_b1 {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 713px;
  max-height: 572px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.cherry_b1 {
  width: 100%;
  max-width: 713px;
  max-height: 400px;
  display: none;
}
.new_b1 > p {
  width: 100%;
  max-width: 457px;
  max-height: 75px;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  color: #666666;
  margin-bottom: 50px;
}
.new_b1 > h1 {
  width: 100%;
  max-width: 413px;
  max-height: 165px;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 60px;
}
.new_b1 > h3 {
  width: 100%;
  max-width: 457px;
  max-height: 20px;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.08333px;
  text-transform: uppercase;
  color: #999999;
  margin-bottom: 50px;
}
.email_b1 {
  border: 1px solid rgb(158, 157, 157);
  border-radius: 5px;
  font-weight: bolder;
  outline: none;
  padding: 13px 40px;
  margin-right: 12px;
}
.btn_b1 {
  background: #0ad1bd;
  border-radius: 5px;
  font-weight: bolder;
  outline: none;
  border: none;
  padding: 14px 40px;
}
@media only screen and (max-width: 1240px) {
  .hero_b1 {
    flex-direction: column;
    width: 100%;
  }
  .cherry_b1 {
    padding-top: 50px;
  }
  .part1_b1 {
    margin: 0;
  }
  .hero_b1 {
    padding: 0;
  }
  .inp_email_b1 {
    display: flex;
    flex-direction: column;
  }
  .email_b1 {
    margin-bottom: 20px;
  }
  .new_b1 > p {
    width: 100%;
    max-width: 413px;
    max-height: 165px;
    font-family: Overpass;
    font-style: normal;
  }
  .new_b1 {
    max-width: 100%;
    padding: 20px;
  }
  .btn_b1 {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
}
iframe {
  width: 100%;
  height: 105vh;
}
.autor_name {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: rgba(54, 53, 52, 0.548);
  font-style: italic;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.active{
  display:block;
}