*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{

min-width: 1440px;
height: 696px;
left: 0px;
top: 0px;

background: #B8E6E1;
}
.main4__main{
	display: flex;
	padding: 135px 883px 2px 151px;

font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 64px;


letter-spacing: -1.5px;

color: #000000;
}
.main4__main1{
	display: flex;
	padding: 0px 833px 0px 151px;
    

font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 31px;



color: #666666;
}
.button4__button{
display: flex;
margin:44px 1126px 132px 152px;

font-family: verpass;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 32px;
/* or 213% */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.img4__img{
	display: flex;
	width: 705px;
	height: 696px;
	left:735px; 

}