*{
    margin: 0;
    padding: 0;
}
.b5_main{
    position: absolute;
    width:1440px;
    height:768px;
    background-color: #B8E6E1;
    display: flex;
}
#span_5_1{
    margin-left: 10%;
    margin-top: 150px;
    width: 40%;
    height: 500px;
}
#img5{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    background-image: url(image/Img\ headphones.jpg);
}
#span_5_2{
    width: 40%;
    margin-top: 100px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#a5{
    position: absolute;
    color: black;
    top: 550px;
}
#btn5{
    font-weight: 700;
    font-size: 12px;
    line-height:32px;
    text-align: center;
    padding: 5px 30px 5px 30px;
    outline: none;
    margin-top: 270px;
    border: none;
    cursor: pointer;
}
.b5_p{
    position: absolute;
    height: 60px;
    left: 0.61%;
    right: 0%;
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;    
    color: #000000;
}
.b5_p_1{
    position: absolute;
    width: 360px;
    height: 138px;
    left: 10%;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
}
.b5_p_2{
    position: absolute;
    width: 360px;
    height: 93px;
    left: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    color: #666666;
    margin-top: 150px;
}
.last5_p{
    position: absolute;
    width: 653px;
    height: 24px;
    left: 637px;
    top: 541px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}